body {
    width: 96vw;
    height: max-content;
    margin: 0 auto;
    box-sizing: border-box;
    overflow-x: hidden;
    background-color: #fff;
    color: #2d1919;
}

header {
    width: 100%;
    height: 52px;
    margin: 0 auto;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    z-index: 1;
    top: 0;
    background-color: #fff;
}

header h1 {
    font-size: 24px;
    font-family: cursive;
}

header .right {
    height: 100%;
    display: flex;
    flex-flow: row;
}

nav {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
}

nav ul{
    gap: 20px;
    display: flex;
    flex-flow: row;
}

ul li {
    list-style: none;
}

li a, li a:visited {
    text-decoration: none;
    color: #2d1919;
}

li a:hover, li a:focus {
    padding: 4px 8px;
    border: 2px solid #2d1919;
    border-radius: 12px;
    background-color: #2d1919;
    color: #fff;
}

.menu {
    display: none;
}

hr {
    width: 96%;
    margin: 0 auto;
    position: sticky;
    z-index: 1;
    top: 52px;
}

main {
    width: 100%;
    height: max-content;
    margin: 0 auto;
    margin-top: 40px;
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
}

.hero {
    width: 100%;
    height: max-content;
    margin: 0 auto;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
}

.letter {
    width: 60%;
    height: max-content;
    margin: 0 auto;
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
}

h2 {
    font-size: 36px;
}

h4 {
    font-size: 28px;
    text-align: center;
}

p {
    width: 100%;
}

.slideshow {
    width: 40%;
    height: 100%;
    animation: slideshow 50s infinite;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: none;
}

@keyframes slideshow {
    0% {
        background-image: url(images/WhatsApp\ Image\ 2025-10-24\ at\ 23.29.40_1e0db426.jpg);
    }
    10% {
        background-image: url(images/WhatsApp\ Image\ 2025-10-30\ at\ 13.53.27_d35a3d08.jpg);
    }
    20% {
        background-image: url(images/WhatsApp\ Image\ 2025-10-27\ at\ 17.10.41_910bf6dd.jpg);
    }
    30% {
        background-image: url(images/WhatsApp\ Image\ 2025-10-27\ at\ 17.11.18_86044ca7.jpg);
    }
    40% {
        background-image: url(images/WhatsApp\ Image\ 2025-10-29\ at\ 11.55.19_a823c871.jpg);
    }
    50% {
        background-image: url(images/WhatsApp\ Image\ 2025-10-29\ at\ 11.55.19_d1ffaf21.jpg);
    }
    60% {
        background-image: url(images/WhatsApp\ Image\ 2025-10-30\ at\ 13.51.41_06084164.jpg);
    }
    70% {
        background-image: url(images/WhatsApp\ Image\ 2025-10-30\ at\ 13.51.41_271c63ef.jpg);
    }
    75% {
        background-image: url(images/WhatsApp\ Image\ 2025-10-30\ at\ 14.00.23_92cbe978.jpg);
    }
    80% {
        background-image: url(images/WhatsApp\ Image\ 2025-10-30\ at\ 13.51.41_3204264d.jpg);
    }
    90% {
        background-image: url(images/WhatsApp\ Image\ 2025-10-30\ at\ 13.51.41_77a7723c.jpg);
    }
    100% {
        background-image: url(images/WhatsApp\ Image\ 2025-10-30\ at\ 13.51.41_842b9db3.jpg);
    }
}

.categories {
    width: 100%;
    height: max-content;
    margin: 0 auto;
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
}

.item-container {
    width: 100%;
    height: max-content;
    margin: 0 auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

.item-container .item {
    width: 32%;
    height: max-content;
    margin: 0 auto;
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}

.item-container .item img {
    width: 88%;
    height: 100%;
    margin: 0 auto;
    border-radius: 8px;
}

.size, .unit {
    margin-top: -8px;
}

span {
    font-weight: 600;
}

footer {
    width: 96%;
    height: max-content;
    margin: 20px auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    text-align: center;
    background-color: #2d1919;
    color: #fff;
    border-radius: 8px;
}

footer, footer a {
    color: #fff;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}


@media screen and (max-width: 800px) { 
    main {
        margin-top: 20px;
    }

    .hero {
        height: max-content;
        margin: 0 auto;
        flex-flow: column;
        justify-content: space-evenly;
    }

    .letter {
        width: 96%;
        margin: 0 auto;
        margin-bottom: 20px;
    }

    h4 {
        font-size: 32px;
    }

    p {
        width: 96%;
    }

    .item-container .item img {
        height: 200px;
    }

    .slideshow {
        width: 88%;
        height: 492px;
        margin: 0 auto;
    }
}

@media screen and (max-width: 600px) {
    header {
        height: 68px;
    }

    .menu {
        display: none;
        margin: auto;
        width: 24px;
        height: 24px;
    }

    #menuList {
        transition: all 0.02s;
    }

    nav ul {    
        position: absolute;
        overflow: hidden;
        z-index: 1;
        width: 100%;
        height: 96vh;
        margin: 0 auto;
        margin-right: -20px;
        right: 0;
        top: 68px;
        flex-flow: column;
        justify-content: center;
        align-items: center;
        background-color: #000;
    }

    ul li {
        margin-top: 20px;
    }

    ul li a, ul li a:visited {
        padding: 4px 12px;
        border: 2px solid #fff;
        border-radius: 12px;
        background-color: #fff;
        color: #2d1919;
    }

    hr {
        top: 68px;
    }

    .size {
        margin-top: -8px;
    }
}

@media screen and (max-width: 428px) {
    header {
        height: 52px;
    }

    nav ul, hr {
        top: 52px;
    }
    
    h4 {
        font-size: 20px;
    }

    .slideshow {
        height: 392px;
    }

    .item-container .item {
        width: 48%;
        margin: 0px auto;

    }

    .item-container .item img {
        width: 100%;
        height: 100%;
    }

    .item-container .item p {
        font-size: 12px;
    }

    .item .note {
        font-size: 8px;
    }
}

@media screen and (max-width: 380px) {
    .item-container {
        flex-flow: column;
    }

    .item-container .item {
        width: 92%;
    }
}



